<template>
  <div>
    <Navbar
      @open-sidebar="openSidebar"
      @close-sidebar="closeSidebar"
      :sidebarIsOpen="sidebarIsOpen"
    />
    <Sidebar v-if="sidebarIsOpen" />
    <div class="app-container">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import Navbar from './Navbar';
import Sidebar from './Sidebar';

export default {
  name: "admin",
  data() {
    return {
      sidebarIsOpen: false
    }
  },
  components: {
    Navbar,
    Sidebar
  },
  methods: {
    openSidebar() {
      this.sidebarIsOpen = true;
    },
    closeSidebar() {
      this.sidebarIsOpen = false;
    }
  }
};
</script>

<style scoped>
.app-container {
  padding: 10px;
  position: relative;
  top: 60px;
}
</style>
