<template>
  <div>
    <button @click="login">Login</button>
  </div>
</template>

<script>
import auth from '../services/auth.js';

export default {
  name: 'login',
  methods: {
    login() {
      auth.login();
      this.$router.push('/a')
    }
  }
}
</script>

<style scoped>

</style>
