<template>
  <div class="navbar">
    <div class="navbar__menu">
      <router-link to="/a" tag="div" class="navbar__menu__item" exact>
        <a>Home</a>
      </router-link>
      <router-link to="/a/users" tag="div" class="navbar__menu__item">
        <a>Users</a>
      </router-link>
      <router-link to="/a/jobs" tag="div" class="navbar__menu__item">
        <a>Jobs</a>
      </router-link>
      <button class="navbar__menu__button" @click="logout">Logout</button>
    </div>
    <button
      v-if="!sidebarIsOpen"
      class="navbar__menu__button navbar__menu__button--sidebar"
      @click="openSidebar">Menu</button>
    <button
      v-else
      class="navbar__menu__button navbar__menu__button--sidebar"
      @click="closeSidebar">
      Close
    </button>
  </div>
</template>

<script>
import auth from '../services/auth.js';

export default {
  name: 'navbar',
  props: ['sidebarIsOpen'],
  methods: {
    logout() {
      auth.logout();
      this.$router.push('/');
    },
    openSidebar() {
      this.$emit('open-sidebar');
    },
    closeSidebar() {
      this.$emit('close-sidebar');
    }
  }
}
</script>

<style scoped>
a {
  text-decoration: none;
}

a:visited {
  color: initial;
}

.navbar {
  background-color: #e32525;
  display: flex;
  position: fixed;
  width: 100vw;
  height: 50px;
  z-index: 100;
}

.navbar__menu {
  display: flex;
  width: 60%;
  height: 100%;
}

.navbar__menu__item {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.navbar__menu__button {
  background-color: #e32525;
  border: none;
}

.router-link-active {
  background-color: white;
}

@media all and (min-width: 425px) {
  .navbar__menu__button--sidebar {
    display: none;
  }
}

@media all and (max-width: 425px) {
  .navbar__menu {
    display: none;
  }
}
</style>
