<template>
  <div class="sidebar">
    <div class="sidebar__menu">
      <router-link to="/a" tag="div" class="sidebar__menu__item" exact>
        <a>Home</a>
      </router-link>
      <router-link to="/a/users" tag="div" class="sidebar__menu__item">
        <a>Users</a>
      </router-link>
      <router-link to="/a/jobs" tag="div" class="sidebar__menu__item">
        <a>Jobs</a>
      </router-link>
      <button class="sidebar__menu__button" @click="logout">Logout</button>
    </div>
  </div>
</template>

<script>
import auth from '../services/auth.js';

export default {
  name: 'sidebar',
  methods: {
    logout() {
      auth.logout();
      this.$router.push('/')
    }
  }
}
</script>

<style scoped>
a {
  text-decoration: none;
}

a:visited {
  color: initial;
}

.sidebar {
  background-color: #e32525;
  position: fixed;
  top: 50px;
  width: 200px;
  height: 100vh;
  z-index: 100;
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
  height: 120px;
}

.sidebar__menu__item {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.sidebar__menu__button {
  background-color: #e32525;
  border: none;
}

.router-link-active {
  background-color: white;
}

/* @media (min-width: 768px) {
  .sidebar {
    display: none;
  }
} */
</style>
