<template>
  <div>
    <div v-if="isLoading">Loading</div>
    <div v-else>
      <table>
        <thead>
          <td>Id</td>
          <td>Name</td>
          <td>Username</td>
          <td>Email</td>
          <td>Company Address</td>
          <td>Company Profile</td>
          <td>Phone</td>
        </thead>
        <tr v-for="(supplier, index) in suppliers" :key="index">
          <td>{{ supplier.id }}</td>
          <td>{{ supplier.name }}</td>
          <td>{{ supplier.username }}</td>
          <td>{{ supplier.email }}</td>
          <td>{{ supplier.company_address }}</td>
          <td>{{ supplier.company_profile }}</td>
          <td>{{ supplier.phone }}</td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'users',
  mounted() {
    this.isLoading = true; // agar component loading ditampilkan, bukan tabel
    // contoh mengambil data dari back-end menggunakan axios
    axios({
      method: 'GET',
      url: `https://mamabison-dev.herokuapp.com/api/v1/suppliers`, // url sesuai API
      data: {}, // sesuai yang diinginkan back-end
      params: {} //
    })
      .then((response) => {
        console.log(response); // dipanggil ketika berhasil
        this.suppliers = response.data.data;
        this.isLoading = false; // agar component loading tidak ditampilkan
      })
      .catch((error) => {
        console.log(error); // dipaggil ketika gagal
      });
  },
  data() {
    return {
      isLoading: false,
      suppliers: []
    };
  }
};
</script>

<style scoped>
</style>
