<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
import router from './router';
import Navbar from './components/Navbar';

export default {
  name: 'app',
  router,
  data () {
    return {
      msg: ''
    }
  },
  components: {
    Navbar
  }
}
</script>

<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

</style>
